In [1]:
import pandas as pd

In [5]:
    cols = [
        "timestamp",
        "route",
        "stop_id", 
        "destination",
        "headsign",
        "vehicle_id", 
        "eta_min", 
        "eta_time", 
        "crowding"]
    
    datatypes = {
                "timestamp": str,
        "route": str,
        "stop_id": str, 
        "destination": str,
        "headsign": str,
        "vehicle_id": str, 
        "eta_min": str,
        "eta_time": str,
        "crowding": str
    }
    
    df = pd.read_csv(
        f"njt-crowding-route-119.csv",
        names= cols,
        dtype=datatypes,
        error_bad_lines=False,
        parse_dates=["timestamp"]
    )

In [20]:
df[df.eta_min == "< 1"]

Empty DataFrame
Columns: [timestamp, route, stop_id, destination, headsign, vehicle_id, eta_min, eta_time, crowding]
Index: []

In [14]:
df.groupby(df.eta_min).count()

,timestamp,route,stop_id,destination,headsign,vehicle_id,eta_time,crowding
eta_min,,,,,,,,
1,11166,11166,11166,11166,11166,11166,11166,11166
10,11321,11321,11321,11321,11321,11321,11321,11321
11,11356,11356,11356,11356,11356,11356,11356,11356
12,11300,11300,11300,11300,11300,11300,11300,11300
13,11287,11287,11287,11287,11287,11287,11287,11287
14,11226,11226,11226,11226,11226,11226,11226,11226
15,10962,10962,10962,10962,10962,10962,10962,10962
16,10887,10887,10887,10887,10887,10887,10887,10887
17,10937,10937,10937,10937,10937,10937,10937,10937
18,10657,10657,10657,10657,10657,10657,10657,10657
19,10933,10933,10933,10933,10933,10933,10933,10933
2,11891,11891,11891,11891,11891,11891,11891,11891
20,10478,10478,10478,10478,10478,10478,10478,10478
20395,1,1,1,1,1,1,1,1
20854,2,2,2,2,2,2,2,2
21,10503,10503,10503,10503,10503,10503,10503,10503
22,10485,10485,10485,10485,10485,10485,10485,10485
23,9927,9927,9927,9927,9927,9927,9927,9927
24,10355,10355,10355,10355,10355,10355,10355,10355
25,10066,10066,10066,10066,10066,10066,10066,10066
26,10357,10357,10357,10357,10357,10357,10357,10357
27,9846,9846,9846,9846,9846,9846,9846,9846
28,9936,9936,9936,9936,9936,9936,9936,9936
29,9882,9882,9882,9882,9882,9882,9882,9882
3,12024,12024,12024,12024,12024,12024,12024,12024
30,9843,9843,9843,9843,9843,9843,9843,9843
31,9718,9718,9718,9718,9718,9718,9718,9718
32,9809,9809,9809,9809,9809,9809,9809,9809
33,9696,9696,9696,9696,9696,9696,9696,9696
34,9299,9299,9299,9299,9299,9299,9299,9299
35,9576,9576,9576,9576,9576,9576,9576,9576
36,9420,9420,9420,9420,9420,9420,9420,9420
37,9518,9518,9518,9518,9518,9518,9518,9518
38,9333,9333,9333,9333,9333,9333,9333,9333
39,9563,9563,9563,9563,9563,9563,9563,9563
4,12304,12304,12304,12304,12304,12304,12304,12304
40,9356,9356,9356,9356,9356,9356,9356,9356
41,9378,9378,9378,9378,9378,9378,9378,9378
42,9521,9521,9521,9521,9521,9521,9521,9521
43,9154,9154,9154,9154,9154,9154,9154,9154
44,6168,6168,6168,6168,6168,6168,6168,6168
45,29,29,29,29,29,29,29,29
5,12405,12405,12405,12405,12405,12405,12405,12405
6,12220,12220,12220,12220,12220,12220,12220,12220
7,11793,11793,11793,11793,11793,11793,11793,11793
8,11560,11560,11560,11560,11560,11560,11560,11560
9,11584,11584,11584,11584,11584,11584,11584,11584
9:44 AM,2,2,2,2,2,2,2,0
LIGHT,1,1,1,1,1,1,0,0