In [1]:
file = "njt-crowding-route-119.parquet"

In [2]:
import pandas as pd

df = pd.read_parquet(file)

In [3]:
df

,timestamp,route,stop_id,destination,headsign,bus_id,eta_min,eta_time,crowding
index,,,,,,,,,
0,2022-09-25 18:05:40.272119-04:00,119,20392,New York,JERSEY CITY JOURNAL SQUARE,5880,1,6:07 PM,LIGHT
0,2022-09-25 18:05:40.277284-04:00,119,20393,New York,JERSEY CITY JOURNAL SQUARE,5880,1,6:07 PM,LIGHT
0,2022-09-25 18:05:46.938904-04:00,119,21854,Bayonne,HOBOKEN TERMINAL,5889,1,6:07 PM,LIGHT
0,2022-09-25 18:05:46.967539-04:00,119,20672,Bayonne,AMERICAN DREAM,5887,1,6:06 PM,LIGHT
0,2022-09-25 18:05:47.189478-04:00,119,20869,Bayonne,BAYONNE,5389,1,6:07 PM,LIGHT
0,2022-09-25 18:05:47.195121-04:00,119,20870,Bayonne,BAYONNE,5389,1,6:07 PM,LIGHT

In [4]:
df.dtypes

timestamp      datetime64[ns, America/New_York]
route                                    object
stop_id                                  object
destination                              object
headsign                                 object
bus_id                                   object
eta_min                                  object
eta_time                                 object
crowding                                 object
dtype: object